   <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">You-do-you Customs</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Dashboard">
          <a class="nav-link" href="/staff/dashboard">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Charts">
          <a class="nav-link" href="/staff/listing">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Listings</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tables">
          <a class="nav-link" href="/staff/messages">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Messages</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Components">
          <a class="nav-link" href="/staff/orderlist"
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">OrderList</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Example Pages">
          <a class="nav-link" ref="/staff/finance" 
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">Finance</span>
            </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Menu Levels">
          <a class="nav-link"  href="/staff/marketing" 
            <i class="fa fa-fw fa-sitemap"></i>
            <span class="nav-link-text"> Marketing</span>
            </a>
      </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Link">
          <a class="nav-link" href="/staff/statistics">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Statistics</span>
          </a>
        </li>
         <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Link">
          <a class="nav-link" href="/staff/imageUploader">
            <i class=" fa fa-fw fas fa-cloud-download"></i>
            <span class="nav-link-text">Image Uploader</span>
          </a>
        </li>
         <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Link">
          <a class="nav-link" href="/staff/listingManager">
            <i class="fa fa-fw far fa-address-card "></i>
            <span class="nav-link-text">Listings Manager</span>
          </a>
        </li>
        </ul>
      </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Statistics</a>
        </li>
        <li class="breadcrumb-item active">My Statistics</li>
      </ol>
      <!-- Icon Cards-->
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-comments"></i>
              </div>
              <div class="ml-22"> 
                  <iframe style="background: #FFFFFF;border: none;border-radius: 20px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="290" height="220" src="https://charts.mongodb.com/charts-final-ycy-server-wtoch/embed/charts?id=c3b75490-9440-40b4-861c-f133def46bd6&theme=light"></iframe>
                </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-list"></i>
              </div>
              <div class="ml-2"> <span class = "result-headings"> Total amount of Reviews </span> <span class = "result-text">{{reviewFind}}  </span></iframe>
            </div>
          </div>
        </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-shopping-cart"></i>
              </div>
              <div class="ml-22"> <iframe style="background: #FFFFFF;border: none;border-radius: 20px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="290" height="220" src="https://charts.mongodb.com/charts-final-ycy-server-wtoch/embed/charts?id=203a5fa2-ec4c-4c83-bfdc-1c67d31427c6&theme=light"></iframe> </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-support"></i>
              </div>
              <div class="ml-22"> <iframe style="background: #FFFFFF;border: none;border-radius: 20px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="290" height="220" src="https://charts.mongodb.com/charts-final-ycy-server-wtoch/embed/charts?id=0dcdd232-7a5e-4706-b513-db3e87df7e3c&theme=light"></iframe>
               </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <!-- Area Chart Example-->
      <div class="card">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> Most Reviewed Product </div>
        <div class="card-body">
                <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="1430" height="220" src="https://charts.mongodb.com/charts-final-ycy-server-wtoch/embed/charts?id=654e1557-15d2-42f7-8dd7-7a772fa30f61&theme=light"></iframe>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
            <div class="card mb-3">
            <div class="card-header mt-3">
              <i class="fa fa-bar-chart"></i> Discount Information </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-8 my-auto">
                        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="925" height="480" src="https://charts.mongodb.com/charts-final-ycy-server-wtoch/embed/charts?id=caa117f6-280c-4c98-ba67-8473888610fa&theme=light"></iframe>
                  </div>
              </div>
            </div>
          </div>

         <div class="card">
        <div class="card-header">
          <i class="fa fa-newspaper-o"></i> Product Rating </div>
        <div class="card-body">
                    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="920" height="380" src="https://charts.mongodb.com/charts-final-ycy-server-wtoch/embed/charts?id=23a9793e-b602-49c9-9dcd-87246badbdb3&theme=light"></iframe>
        </div>
          <!-- /Card Columns-->
        </div>
             <div class="card">
        <div class="card-header">
          <i class="fa fa-newspaper-o"></i> Most Popular Customer </div>
        <div class="card-body">
                    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="920" height="380" src="https://charts.mongodb.com/charts-final-ycy-server-wtoch/embed/charts?id=f634c64a-d698-47e3-ab05-14452c0f111d&theme=light"></iframe>
        </div>
          <!-- /Card Columns-->
        </div>
             <div class="card">
        <div class="card-header">
          <i class="fa fa-newspaper-o"></i> Reviews </div>
        <div class="card-body">
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="890" height="380" src="https://charts.mongodb.com/charts-youdoyouserver-siwex/embed/charts?id=0f2f8d29-827b-46c2-b898-27b6e6ed0e81&autoRefresh=10&theme=light"></iframe>    
        </div>
          <!-- /Card Columns-->
        </div>
             <div class="card">
        <div class="card-header">
          <i class="fa fa-newspaper-o"></i> Reviews </div>
        <div class="card-body">
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="890" height="380" src="https://charts.mongodb.com/charts-youdoyouserver-siwex/embed/charts?id=0f2f8d29-827b-46c2-b898-27b6e6ed0e81&autoRefresh=10&theme=light"></iframe>    
        </div>
          <!-- /Card Columns-->
        </div>
          </div>
        <div class="col-lg-4">
          <!-- Example Pie Chart Card-->
          <div class="card mb-3">
            <div class="card-header mt-3">
              <i class="fa fa-pie-chart"></i> Highest Rated Product </div>
            <div class="card-body">
                   <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="430" height="200" src="https://charts.mongodb.com/charts-final-ycy-server-wtoch/embed/charts?id=a2206280-3ff6-47fc-a294-10be4da821ce&theme=light"></iframe>
            </div>
            </div>
            
          <div class="card mb-3">
            <div class="card-header mt-3">
              <i class="fa fa-bell-o"></i> Basket Information </div>
                <div class = "card-body">
                    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="430" height="680" src="https://charts.mongodb.com/charts-final-ycy-server-wtoch/embed/charts?id=71aee785-bf76-4d91-83ec-7a6c344d02df&theme=light"></iframe>
              </div>
          </div>
            <div class="card mb-3">
            <div class="card-header mt-3">
              <i class="fa fa-bell-o"></i> Listings </div>
                <div class = "card-body">
                    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="430" height="680" src="https://charts.mongodb.com/charts-youdoyouserver-siwex/embed/charts?id=713f478c-2702-4e51-8fe7-292080af1329&autoRefresh=10&theme=light"></iframe>
              </div>
          </div>
            <div class="card mb-3">
            <div class="card-header mt-3">
              <i class="fa fa-bell-o"></i> Listings </div>
                <div class = "card-body">
                    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="430" height="680" src="https://charts.mongodb.com/charts-youdoyouserver-siwex/embed/charts?id=713f478c-2702-4e51-8fe7-292080af1329&autoRefresh=10&theme=light"></iframe>
              </div>
          </div>
      </div>
        </div>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Users Database Information</div>
        <div class="card-body">
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="1400" height="480" src="https://charts.mongodb.com/charts-youdoyouserver-siwex/embed/charts?id=1078e783-889c-4c74-8eed-9c51204c5100&autoRefresh=10&theme=light"></iframe>
          </div>
        </div>
        <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © YDY Customs 2021 </small>
        </div>
      </div>
    </footer>
    </div>