

Login and secuity 

<form action='/user/myProfile/loginAndSecurity' method="POST" autocomplete="off">

    <input type='hidden' name='_id' value='{{id}}'>

   
        <div class='form-group'>
            
            <h3>{{viewTitle}}</h3>

            <ul class="nobullets">
                
               
                
                 <li><label>new Password</label>
                    <input type='text' class='form-controll' name="password" placeholder="New Password" >
                </li>


                <button type="submit" class="btn btn-info">update informaiton</button>
                
                <a class="btn btn-secondary" href="/user/myprofile">back</a>
            </ul>
        </div>
    

</form>

