

    <div id="yourorders">
        <a href="/user/myprofile/orders">your orders</a>
    </div>

    <div id="paymentmethods">
        <a href="/user/myprofile/paymentMethod">Payment Methods</a>
    </div>

    <div id="loginandsecurity">
        <a href="/user/myprofile/loginAndSecurity">Login And Security</a>
    </div>

    <div id="messagecentre">
         <a href="/user/myprofile/messageCentre">Message Centre</a>
    </div>

    <div id="yourreviews">
      <a href="/user/myprofile/reviews">Review Center</a>
    </div>

    <div id="mydetails">
        <a href="/user/myprofile/myDetails">my Details</a>
    </div>


    <a href="/user/myprofile/profilepicture"> my profile picture</a>

    
