<h1>Orders</h1>
<div class="ordertable">
    <table>
        <tr>
            <th colspan="2">
                <h3><u>Take a look at your most recent orders!</u></h3>
            </th>
        </tr>
        <tr>
            <th colspan="2">
            </th>
        </tr>
        {{#each yourOrders}}
        <tr>
            {{#each cart}}
        <tr>
            <td>Item(s):</td>
            <td>{{this.item}}</td>
        </tr>
        <td>Quantity:</td>
        <td>({{this.qty}})</td>
        </td>

        {{/each}}
        <tr>
            <th>Total Price:</th>
            <th>£{{this.totalPrice}}</th>
        </tr>
        <tr>
            <th colspan="2">
            </th>
        </tr>
        {{/each}}
    </table>