<h1>Reviews</h1>
<div class="userReviews">
        <table>
<tr>
        <th colspan="2">
                <h3><u>Take a look at the products you can make a review on!</u></h3>
        </th>
</tr>
<tr>
        <th colspan="2">
                <p>---------------------------------------------------------------------------------------</p>
        </th>
</tr>
{{#each reviewItems}}
<tr>
        <td>{{this}}</td> <Br>
        <td><a href="/user/myprofile/reviewProduct/{{this}}"> Leave a review </a></td>
</tr>
<tr>
        <th colspan="2">
                <p>---------------------------------------------------------------------------------------</p>
        </th>
</tr>
<br><br><Br>
{{/each}}