
    <header>
        <div id="logo">
            <a href="homepage.html"><img v-bind:src="image" width="250" height="60"></a>
        </div>
        <div class="nav_links">
                <ul>
            <li><a href="homepage.html">Homepage</a></li>
            <li>Products
                        <ul>
            <li><a href="precustoms.html">Pre Customs</li>
                <li><a href="airforce1.html">AirForce 1</li>
                    <li><a href="vans.html">Vans</li>
                        <li><a href="jacket.html">Jackets</li>
            </ul>
            </li>
            <li><a href="catalogue.html">Catalogue</li>
                <li><a href="reviews.html">Reviews</li>
                    <li><a href="con#.html">Contact us</li>
                        <li><a href="gallery.html">Gallery</li>
                            <li><a href="createanaccount.html">Create an Account</li>
            </ul>
            </div>

    </header>

    <div class="logout">
        <a href="index.html">Log out</a>
    </div>

    <div class="mybasket">
        <a href="mybasket.html">My basket</a>
    </div>

    <div class="myprofile">
        <a href="myprofile.html">My Profile</a>
    </div>

    <div id="airforcebox1">
        <div id="bandanaair1">
            <img v-bind:src="image" style="width: 350px; height: 250px;">
            <div id="airimageinfo1">
                <p>Bandana Air Force 1s</p>
                <div class="starsforshoes">
                    <img src="Images/Backgrounds/5stars.png" width="135" height="30">
                </div>
            </div>
        </div>
    </div>

    <div id="airforcebox2">
        <div id="bapeteethair1">
            <img v-bind:src="image" width="350px" height="250px">
            <div id="air1imageinfo2">
                <p>Bape Teeth Air Force 1s</p>
                <div class="starsforshoes">
                    <img src="Images/Backgrounds/5stars.png" width="135" height="30">
                </div>
            </div>
        </div>
    </div>

    <div id="airforcebox3">
        <div id="bapeteethcamoair1">
            <img v-bind:src="image" width="350px" height="250px">
            <div id="air1imageinfo3">
                <p>Bape Teeth Camo Air Force 1s</p>
                <div class="starsforshoes">
                    <img src="Images/Backgrounds/5stars.png" width="135" height="30">
                </div>
            </div>
        </div>
    </div>

    <div id="airforcebox4">
        <div id="camoair1">
            <img v-bind:src="image" width="350px" height="250px">
            <div id="air1imageinfo4">
                <p>Bape Camo Air Force 1s</p>
                <div class="starsforshoes">
                    <img src="Images/Backgrounds/5stars.png" width="135" height="30">
                </div>
            </div>
        </div>
    </div>

    <div id="airforcebox5">
        <div id="checkeredair1">
            <img v-bind:src="image" width="350px" height="250px">
            <div id="air1imageinfo5">
                <p>Checkered Air Force 1s</p>
                <div class="starsforshoes">
                    <img src="Images/Backgrounds/5stars.png" width="135" height="30">
                </div>
            </div>
        </div>
    </div>

    <div id="airforcebox6">
        <div id="dipdyeair1">
            <img v-bind:src="image" width="350px" height="250px">
            <div id="air1imageinfo6">
                <p>Dip Dye Air Force 1s</p>
                <div class="starsforshoes">
                    <img src="Images/Backgrounds/5stars.png" width="135" height="30">
                </div>
            </div>
        </div>
    </div>

    <div id="airforcebox7">
        <div id="dripair1">
            <img v-bind:src="image" width="350px" height="250px">
            <div id="air1imageinfo7">
                <p>Drip Air Force 1s</p>
                <div class="starsforshoes">
                    <img src="Images/Backgrounds/5stars.png" width="135" height="30">
                </div>
            </div>
        </div>
    </div>

    <div id="airforcebox8">
        <div id="flameair1">
            <img v-bind:src="image" width="350px" height="250px">
            <div id="air1imageinfo8">
                <p>Flame Air Force 1s</p>
                <div class="starsforshoes">
                    <img src="Images/Backgrounds/5stars.png" width="135" height="30">
                </div>
            </div>
        </div>
    </div>

    <div id="airforcebox9">
        <div id="lvair1">
            <img v-bind:src="image" width="350px" height="250px">
            <div id="air1imageinfo9">
                <p>Louis Vuitton Air Force 1s</p>
                <div class="starsforshoes">
                    <img src="Images/Backgrounds/5stars.png" width="135" height="30">
                </div>
            </div>
        </div>
    </div>

    <div id="airforcebox10">
        <div id="orientalair1">
            <img v-bind:src="image" width="350px" height="250px">
            <div id="air1imageinfo10">
                <p>Oriental Air Force 1s</p>
                <div class="starsforshoes">
                    <img src="Images/Backgrounds/5stars.png" width="135" height="30">
                </div>
            </div>
        </div>
    </div>

    <div id="increment">
        Cart {{ cart }}
        <div id="addToCartAir1">
            <button v-on:click="addToCart">Add to Cart</button>
        </div>

        <div id="addToCartAir2">
            <button v-on:click="addToCart">Add to Cart</button>
        </div>

        <div id="addToCartAir3">
            <button v-on:click="addToCart">Add to Cart</button>
        </div>

        <div id="addToCartAir4">
            <button v-on:click="addToCart">Add to Cart</button>
        </div>

        <div id="addToCartAir5">
            <button v-on:click="addToCart">Add to Cart</button>
        </div>

        <div id="addToCartAir6">
            <button v-on:click="addToCart">Add to Cart</button>
        </div>

        <div id="addToCartAir7">
            <button v-on:click="addToCart">Add to Cart</button>
        </div>

        <div id="addToCartAir8">
            <button v-on:click="addToCart">Add to Cart</button>
        </div>

        <div id="addToCartAir9">
            <button v-on:click="addToCart">Add to Cart</button>
        </div>

        <div id="addToCartAir10">
            <button v-on:click="addToCart">Add to Cart</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="main.js"></script>
